
/*
.hover-links::after{
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #fffef5;
  transition: width .3s;
}

.hover-links:hover::after{
  width: 100%;
  transition: width .3s;
}
*/
/*****************************************/
/*-----------MEDIA QUERIES--------------*/
